/* Hide the "Aa" (toggle case sensitivity) button in DataTable filters */
.dash-filter--case {
    display: none !important;
}

/* Hide the "Aa" (toggle case sensitivity) button in DataTable filters */
.dash-filter--case {
    display: none !important;
}

/* Força quebra de linha nas opções do Dropdown */
.Select__option {
  white-space: normal !important;
  word-break: break-word !important;
}

/* Garante que o menu do Dropdown acomode bem textos longos */
.Select__menu {
  white-space: normal !important;
  word-break: break-word !important;
  max-width: 100% !important;
}

.dropdown-ajustado div {
  white-space: normal !important;
  word-break: break-word !important;
}


